.floatR{
    float:right;
}
.top_login{
    background: #FFF;
    overflow: hidden;
    border-bottom: 4px solid #1b7dd0;
    padding: 15px 0;
}
.top_login_m{
    width: 1190px;
    margin: auto;
}
.top_login_m a {
    float: left;
    display: inline-block;
    padding: 0;
}
.top_login_m h1{
    float: left;
    margin: 25px 0 0 30px;
    font-weight: 400;
    color: #666;
    padding: 0;
}
.top_login_m ul{
    width: 625px;
    display: inline;
    padding: 20px 0 40px;
    margin:  0 auto;
}
.top_login_m ul li{
    position: relative;
    float: left;
    width: 125px;
    text-align: center;
}
.top_login_m ul li span{
    display: block;
    height: 20px;
    color: #333;
    padding-bottom: 20px;
    vertical-align: top;
}
.top_login_m ul div{
    height: 4px;
    background: #D3D3D3;
}
.top_login_m .now{
    background-color: #49d4b8!important;
}
.top_login_m ul i{
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    background: url("https://www.alighting.com/statics/images/user/user-icon.png") -36px -324px;
    font-style: normal;
    color: #CCC;
    font-weight: bold;
    top: 27px;
    left: 50%;
    margin-left: -15px;
}
.top_login_m ul .checki{
    background-position: 0 -394px;
    color: #FFF;
}
.wrapper {
    width: 1190px;
}
.lh30 h4{
    float: left;
    display: inline;
    font-size: 14px;
    color: #000;
}
.cart_cnt{
    border: 1px solid #e1e1e1;
    background: #FFF;
    box-shadow: 3px 3px 2px #ebebeb;
    margin-bottom:10px;
}
.cart_cnt a{
    color: #1b7dd0;
}
.cart_cnt_tit{
    padding: 20px;
}
.cart_cnt table{
    width: 100%;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 12px;
}
.cart_cnt table thead th {
    color: #666;
    background: #fafafa;
    padding: 10px 20px;
    text-align: center;
    font-weight: 200;
}
.cart_cnt table tbody td {
    border-top: 1px solid #f5f5f5;
    color: #666;
    padding: 10px 20px;
    text-align: center;
    /* vertical-align: 50%; */
}
.checkbox_left {
    float: left;
    margin: 20px 20px 0 0;
}
.img60 {
    width: 58px;
    height: 58px;
    float: left;
    border: 1px solid #ececec;
    overflow: hidden;
    margin-right: 10px;
}
.pro_title{
    height: 40px;
    line-height: 20px;
    margin-bottom: 5px;
    overflow: hidden;
}
.icon.minus, .icon.plus {
    display: inline-block;
    background: none;
    width: 24px;
    height: 24px;
    line-height: 19px;
    padding-top: 1px;
    border: 1px solid #dcdcdc;
    text-align: center;
    margin: 0;
    color: #999;
    font-size: 18px;
    font-weight: 700;
    margin-top: 1px;
}
.input_text{
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    border-left: none;
    border-right: none;
    background: #fff;
    width: 60px;
    text-align: center;
    height: 24px;
    line-height: 24px;
    padding-top: 1px;
}
.icon_del{
    display: inline-block;
    width: 26px;
    height: 26px;
    background: url("https://www.alighting.com/statics/images/user/icon-s.png") 0 -232px;
}
.checkbox_all{
    padding:20px;
}
.cart_submit_box {
    padding: 10px 20px 30px;
}
.cart_submit_box_pre {
    float: left;
    width: 230px;
}
.cart_submit_box_pre p{
    line-height: 20px;
}
.cart_submit_box_pre p label{
    color:#aaa;
}
.cart_submit_box_btn {
    float: left;
    width: 110px;
}
.blue_btn{
    display: block;
    width: 88px;
    height: 40px;
    background: #50a0eb;
    color: #FFF !important;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
}
i{
  cursor: pointer;
}

/* 错误 */
.bruce {
    background-color: #f1f1f1;
    width: 34%;
    margin: auto;
  }
  
  .fault-text {
    position: relative;
    font-weight: bold;
    font-size: 100px;
    color: #fff;
  }
  .fault-text::before, .fault-text::after {
    overflow: hidden;
    position: absolute;
    top: 0;
    background-color: #f1f1f1;
    clip: rect(0, 900px, 0, 0);
    color: #fff;
    content: attr(data-text);
    animation: shake 3s linear infinite alternate-reverse;
  }
  .fault-text::before {
    left: -2px;
    text-shadow: 1px 0 #FFF;
  }
  .fault-text::after {
    left: 2px;
    text-shadow: -1px 0 #F00;
    animation-duration: 2s;
  }
  
  @keyframes shake {
    0% {
      clip: rect(7px, 9999px, 17px, 0);
    }
    5% {
      clip: rect(32px, 9999px, 3px, 0);
    }
    10% {
      clip: rect(96px, 9999px, 85px, 0);
    }
    15% {
      clip: rect(91px, 9999px, 94px, 0);
    }
    20% {
      clip: rect(21px, 9999px, 13px, 0);
    }
    25% {
      clip: rect(34px, 9999px, 13px, 0);
    }
    30% {
      clip: rect(5px, 9999px, 7px, 0);
    }
    35% {
      clip: rect(48px, 9999px, 18px, 0);
    }
    40% {
      clip: rect(97px, 9999px, 87px, 0);
    }
    45% {
      clip: rect(19px, 9999px, 14px, 0);
    }
    50% {
      clip: rect(22px, 9999px, 95px, 0);
    }
    55% {
      clip: rect(97px, 9999px, 98px, 0);
    }
    60% {
      clip: rect(23px, 9999px, 64px, 0);
    }
    65% {
      clip: rect(12px, 9999px, 70px, 0);
    }
    70% {
      clip: rect(57px, 9999px, 56px, 0);
    }
    75% {
      clip: rect(90px, 9999px, 17px, 0);
    }
    80% {
      clip: rect(45px, 9999px, 82px, 0);
    }
    85% {
      clip: rect(80px, 9999px, 28px, 0);
    }
    90% {
      clip: rect(80px, 9999px, 70px, 0);
    }
    95% {
      clip: rect(8px, 9999px, 39px, 0);
    }
    100% {
      clip: rect(65px, 9999px, 37px, 0);
    }
  }