.w1190 {
    width: 1190px !important;
}
.wrapper {
    width: 1200px;
    margin: 0 auto 20px;
}
a{
    color: #666;
}
.wrapper .path{
    height: 22px;
    line-height: 22px;
    padding: 10px 0;
    overflow: hidden;
    color: #999;
}
.details_head{
    position: relative;
}
.hot-scroll{
    width: 410px;
    min-height: 710px;
    background:#FFF;
    border: 1px solid #e7e7e7;
    border-right: 0;
}
.focus-img{
    padding:5px;
}
.focus-img .focus-tabs{
    overflow: hidden;
    padding-top: 10px;
}
.focus-img .focus-tabs li{
    float: left;
    width: 60px;
    height: 60px;
    margin-left: 15px;
    border: 1px solid #e7e7e7;
    overflow: hidden;
    text-align: center;
}
.focus-box{
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.focus-box .store_info_c{
    padding: 5px 5px 10px;
    overflow: hidden;
}
.info_box{
    float: left;
}
.store_operation{
    float: right;
    color: #aaa;
}
.store_operation a {
    color: #aaa;
}
.focus-box .store_contact{
    padding: 10px;
    color: #1B7DD0;
    border: 1px solid #DEF0F7;
    background: #F6FBFF;
}
.store_statistics{
    padding: 20px 0 10px;
    overflow: hidden;
    text-align: center;
}
.store_browse{
    height: 37px;
    color: #aaa;
    text-align: center;
}
.store_browse b{
    display: block;
    color: #666;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 1px;
}
.store_browse em{
    font-style: normal;
    font-weight: normal;
}
.focus-tabs{
    padding-top: 15px;
    text-align: center;
}
.focus-tabs div{
    text-align: center;
    vertical-align: middle;
}
.focus-tabs div a{
    margin-right: 5px;
}
.focus-tabs div a i{
    
    display: inline-block;
    background-image: url("https://www.alighting.com/statics/images/details/details_icon.png");
}
.focus-tabs div a .i1{
    width: 14px;
    height: 12px;
    background-position: -50px -69px;
}
.focus-tabs div a .i2{
    width: 15px;
    height: 13px;
    background-position: -107px -69px;
}
.focus-tabs div a .i3{
    width: 14px;
    height: 14px;
    background-image: url("https://www.alighting.com/statics/images/sprite.fw.png");
    background-position: -450px -50px;
}
.focus-tabs div a:first-child{
    margin-right: 15px;
}
.qrcode-anchor {
    position: relative;
    margin-left: 20px;
}
.goods_box{
    position: absolute;
    top: 0;
    left: 411px;
    width: 779px;
    min-height: 710px;
    border: 1px solid #e7e7e7;
    border-right: 0;
    background: #FFF;
    z-index: 99;
}
.view_tit{
    padding: 15px 20px;
    overflow: hidden;
    color: #333;
}
.view_tit strong{
    float: left;
    font-weight: 400;
    font-size: 20px;
    max-width: 550px;
}
.view_tit label{
    position: absolute;
    top: 20px;
    right: 15px;
}
.goods_price>span{
    float: left;
    width: 91px;
    height: 57px;
    line-height: 57px;
    padding: 20px 0;
    background: #f5f5f5;
    color:#aaa;
    text-align: center;
    text-indent: .4em;
}
.goods_price>div{
    float: left;
    width: 685px;
    height: 97px;
    overflow: hidden;
    background: #f5f5f5;
}
.goods_price>div>span{
    float: left;
    width: 646px;
    height: 56px;
    line-height: 56px;
    overflow: hidden;
    padding: 20px;
    margin-right: 1px;
    font-size: 26px;
    font-weight: 400;
    color: #1B7DD0;
}