body{
    display: block;
    font-size:12px;
}
/*头部导航栏css*/
.top-link{
    display: block;
    background: #F6F6F6;
    height: 32px;
    line-height: 32px;
}
.w1190{
    width: 1190px;
    margin: 0 auto;
}
.left{
    float: left;
    display: inline;
}
.top-link-left{
    float: left;
    display: inline;
}
.top-link-left-login{
    float: left;
}
.top-link-left-login li{
    position: relative;
    float: left;
    width: auto;
    height: 32px;
    line-height: 32px;
    padding: 0;
    list-style-image: none;
}
.top-link-left a{
    padding: 0 10px;
    color: #c3c3c3;
    font-size: 12px;
}

.top-link-right-ul{
    float: right;
    background: #F6F6F6;
    font-size: 12px;
}
.top-link-right-ul li{
    position: relative;
    float: left;
    width: auto;
    height: 32px;
    line-height: 32px;
}
.top-link-right-ul li:nth-child(2):hover img{
    content:url("../image/上箭头.png");
}
.top-link-right-ul li:nth-child(3):hover img:nth-child(2){
    content:url("../image/上箭头.png");
}
.ui-corner-all{
    display: none;
    width: 85px;
    text-align: center;
}
.ui-corner-all li{
    height: 24px;
    width: 85px;
    line-height: 24px;
    background: #FFF;
}
.top-link-right-ul li:nth-child(2):hover ul{
    display: block;
    z-index: 10;
    background: #FFF;
   
}
.top-link-right-ul a{
    color: #909090;
    padding: 0 10px;
}
.top-link-right-ul img{
    position: relative;
    width: 10px;
    height: 10px;
}
.top-link-right-ul .image-car{
    position: relative;
    width: 13px;
    height: 13px;
    margin-right: 2px;
}
.logo-box{
    padding: 15px 0;
    overflow: hidden;
}
.head-search-box{
    width: 420px;
    float: left;
    margin: 15px 0 0 90px;
    z-index: 98;
}
.head-search-box-tab{
    font-size: 14px;
    line-height: 40px;
}
.head-search-box span{
    margin-right: 20px;
    color: #999;
}
.input-keyword{
    width: 300px;
    height: 38px;
    border: 2px solid #1b7dd0;
    padding: 0 10px;
}
.input-submit{
    width: 90px;
    height: 42px;
    border: 0;
    background: #1b7dd0;
    color: white;
    text-align: center;
}
.right{

    height: 110px;
    overflow: hidden;
    float: right;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
    float: none;
}

/*底部css*/
.new-footer-box{
    border-top:4px solid #58a4eb;
    background-color: #FFF;
    clear: both !important;
    float: none !important;
}
.new-footer{
    margin: 0 auto;
    padding: 40px 0;
    width: 1190px;
}
.new-footer-logo{
    float: left;
    width: 280px;
}
.new-footer dl{
    float: left;
    margin-left: 80px;
}
.new-footer dl dt{
    line-height: 35px;
    font-weight: bold;
}
.new-footer dl dd{
    line-height: 26px;
}
.new-footer a{
    color:#999;
}
.clr{
    clear: both;
}
.friendlinks{
    margin-top: 30px;
    padding-top: 20px;
}
.friend-first{
    width: 80px !important;
    vertical-align: top;
    text-align: right;
}
.friendlinks a{
    display: inline-block;
    width: 120px;
    margin-bottom: 7px;
    padding-right: 12px;
    font-size: 12px;
    color: #666;
    text-align: left;
    overflow: hidden;
}

/*品牌中心middle*/
.brand_middle{
    background: #1b7dd0;
}
.navcon .navcon_first_a{
    display: block;
    width: 230px;
    height: 52px;
    font: 16px '微软雅黑';
    line-height: 52px;
    text-indent: 20px;
    float: left;
    color: #FFF;
    background: url(https://www.alighting.com//statics/images/new-index/new-index.png) no-repeat 190px -280px #0464b5;
}
.navcon ul a{
    display: block;
    color: #FFF;
    line-height: 52px;
    margin: 0 20px;
}
.navcon ul li:hover{
    background: #0464b5;
}
.navcon ul a:hover{
    text-decoration: underline;
}

.brand_middle ul li{
    float: left;
    font: 16px '微软雅黑';
    text-align: center;
}
.brand_bg{
    background: #EDEDED url("https://www.alighting.com//statics/images/brand/brand-bg.png") center 0 no-repeat;
}
.brand_wrapper{
    width: 1200px;
    margin: auto;
    padding: 1px 0 30px;
}
.brand_path{
    margin: 13px 0;
    height: 26px;
    line-height: 26px;
}
.brand_path span{
    margin-left: 10px;
}
.brand_path a{
    color: #666666;
}
.brand_path span a:first-child{
    margin-right: 5px;
}
.brand_path span a:last-child{
    margin-left: 5px;
}
.brand_nav .brand_logo_box{
    text-align: center;

}
.brand_nav_list{
    display: block;
    margin: 0 auto;
    width: 940px;
}
.brand_nav ul li{
    float: left;
    margin: 0 12px;
    height: 24px;
    line-height: 24px;
    text-align: center;
}

.brand_nav_links a{
    color: #666666;
    padding: 0 14px;
}
.brand_nav_links a:hover{
    background: #313131;
    color: #FFF;
}

.brand_box{
    padding: 10px;
}

.left_arrow{
    float: left;
    margin-right: 6px;
}
.left_arrow a{
    display: block;
    width: 61px;
    height: 158px;
    background:url(https://www.alighting.com/statics/images/brand/brand-sprite.png) no-repeat;
    background-position: -88px -184px;
}
.slide-show-box{
    float: left;
    width: 1046px;
    height: 156px;
    background:url(https://www.alighting.com/statics/images/brand/scroll-bg.gif) no-repeat;
}
.slide-hoder{
    float: left;
    width: 50000px;
    margin: 0 28px;
}
.slide-hoder ul{
    float: left;
    margin-top: 25px;
}
.slide-hoder .holder1 li{
    float: left;
    width: 180px;
    height: 100px;
    margin: 0 7px;
    padding: 5px 0;
    position: static;
}
.slide-hoder .holder1 li a{
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 180px;
    height: 100px;
    overflow: hidden;
    background: #fff;
}
.brand-descrition{
    display: none;  
}
.brand-descrition span{
    font-weight: bold;
    text-align: center;
    display: block;
    margin-bottom: 10px;
}
.brand-descrition p{
    height: 230px;
    color:#666;
    word-break: break-all;
    line-height: 23 px;  
}
.right_arrow{
    float: left;
    margin-right: 6px;
}
.right_arrow a{
    display: block;
    width: 61px;
    height: 158px;
    background:url(https://www.alighting.com/statics/images/brand/brand-sprite.png) no-repeat;
    background-position: 0px -184px;
}
.slide-show-box .slide-hoder ul li:hover{
    position: relative;
    z-index: 5;
    height:355px;
    background:#FFF;
    border: 2px solid #F00;
}
.slide-show-box .slide-hoder ul li:hover .brand-descrition{
    display: block;
    padding: 0 10px;    
}


.news_brand_masonry{
    padding: 12px 0;
}
.news_brand_masonry li{
    float: left;
    width: 222px;
    height: 284px;
    margin: 8px 8px;
}
.news_brand_masonry .brand_masonry-box .news_brand_pic p{
    font-weight: bold;
    text-align: center;
}
.news_brand_pic{
    height: 190px;
    background: #FFF;
}
.news-brand-pic-box{
    display: block;
    width: 190px;
    height: 90px;
    line-height: 100px;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    background: #fff;
    padding: 30px 0;
    margin: 0 auto;
}
.news_brand_masonry li:hover .favorite_ico{
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
    color: #FFF;
    width: 72px;
    height: 28px;
    background: url(https://www.alighting.com//statics/images/brand/brand-sprite.png)0 -345px no-repeat;
}
.brand_masonry_desc{
    padding: 10px 0;
    background:#f3f3f3;
}
.brand_masonry_desc p{
    padding: 0 5px;
    color:#999;
    line-height: 22px;
}
.brand_masonry_desc a{
    color:#999; 
}
.brand_masonry_text{
    display: none;
}
.news_brand_masonry li:hover{
    position: relative;
    z-index: 9;
}
.news_brand_masonry li:hover .brand_masonry-box{
    border: 2px solid #F00;
    background:#FFF;
    height: 410px;
}
.news_brand_masonry li:hover .brand_masonry_desc{
    display: none;
}
.news_brand_masonry li:hover .brand_masonry_text{
    display: block;
    padding: 0 10px;
    color:#999;
    line-height: 20px;
}
.clr{
    border-top: 2px solid #f3f3f3;
    margin-top:20px;    
}
.mx-15 span{
    margin:0 10px;
}
.footer_copyright p{
    margin-top: 20px;
}