body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td{
    margin: 0;
    padding:0;
}
ul{
    list-style: none;
}
.left{
    float: left;
}
a:link{
    text-decoration: none;
}
a:visited{

}
a:hover{
    color: tomato;
}
a:active{
    color: deepskyblue;
}
.bg-white{
    background:#FFF;
}
.zIndex1{
    z-index: 1;
}
.lh30{
    line-height: 30px;
}
.mBtm10{
    margin-bottom: 10px;
}
.c999 {
    color: #999!important;
}
.mLeft20 {
    margin-left: 20px;
}
.text-left {
    text-align: left !important;
}
i{
    font-style: normal;
}

.mRight20 {
    margin-right: 20px;
}
.mTop10 {
    margin-top: 10px;
}
.cf60 {
    color: #f60!important;
}
.f16 {
    font-size: 16px !important;
}
.mb10 {
    margin-bottom: 10px;
}
.blue{
    color: #1b7dd0 !important;
}
.f14{
    font-size: 14px;
}